{% extends '::base.html.twig' %}
{% block category %}class="active"{% endblock %}
{% block body -%}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Category creation</h2>
                </div>
                <div class="panel-body">
                    {{ form(form) }}
                </div>
            </div>
            <a href="{{ path('cms_category') }}" class="btn btn-sm btn-default pull-left">
                Back to the list
            </a>
        </div>
    </div>
{% endblock %}
